<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>装车单</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/cars-list.css">

</head>
<body>
<div class="layout">
    <div class="cars-query">
        <div class="cars-query-in">
            <a></a>
            <input type="text" placeholder="请输入要查询的TLP号">
        </div>
    </div>
    <div class="cars-status">
        <ul>
            <li><a>全部</a></li>
            <li><a>未提交</a></li>
            <li><a>已提交</a></li>
            <li><a>已审核</a></li>
        </ul>
    </div>
    <div class="carsList-info">
        <ul>
            <li>
                <div class="info-l fl">
                    <p><strong>TLP号：TLP18153674</strong></p>
                    <p>仓库：<span>shanghai</span></p>
                    <p>司机：<span>李明</span></p>
                </div>
                <div class="info-r fl">
                    <p>供应商：<span>EA line</span></p>
                    <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                    <p>车牌号：<span>沪E21980</span></p>
                </div>

            </li>
            <li>
                <div class="info-l fl">
                    <p><strong>TLP号：TLP18153674</strong></p>
                    <p>仓库：<span>shanghai</span></p>
                    <p>司机：<span>李明</span></p>
                </div>
                <div class="info-r fl">
                    <p>供应商：<span>EA line</span></p>
                    <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                    <p>车牌号：<span>沪E21980</span></p>
                </div>

            </li>
            <li>
                <div class="info-l fl">
                    <p><strong>TLP号：TLP18153674</strong></p>
                    <p>仓库：<span>shanghai</span></p>
                    <p>司机：<span>李明</span></p>
                </div>
                <div class="info-r fl">
                    <p>供应商：<span>EA line</span></p>
                    <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                    <p>车牌号：<span>沪E21980</span></p>
                </div>

            </li>
            <li>
                <div class="info-l fl">
                    <p><strong>TLP号：TLP18153674</strong></p>
                    <p>仓库：<span>shanghai</span></p>
                    <p>司机：<span>李明</span></p>
                </div>
                <div class="info-r fl">
                    <p>供应商：<span>EA line</span></p>
                    <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                    <p>车牌号：<span>沪E21980</span></p>
                </div>

            </li>
            <li>
                <div class="info-l fl">
                    <p><strong>TLP号：TLP18153674</strong></p>
                    <p>仓库：<span>shanghai</span></p>
                    <p>司机：<span>李明</span></p>
                </div>
                <div class="info-r fl">
                    <p>供应商：<span>EA line</span></p>
                    <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                    <p>车牌号：<span>沪E21980</span></p>
                </div>

            </li>
            <li>
                <div class="info-l fl">
                    <p><strong>TLP号：TLP18153674</strong></p>
                    <p>仓库：<span>shanghai</span></p>
                    <p>司机：<span>李明</span></p>
                </div>
                <div class="info-r fl">
                    <p>供应商：<span>EA line</span></p>
                    <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                    <p>车牌号：<span>沪E21980</span></p>
                </div>

            </li>

        </ul>
    </div>
    <div class="plus-appointment">
        <a href="carsList-new.html">
            + 创建装车单
        </a>
    </div>

</div>


</body>
</html>