<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>新建装车单</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/carsList-new.css">
</head>
<body>
<div class="layout">
    <div class="select-carLists">
        <ul>
            <li>起运港<span></span></li>
            <li>中外运仓库<span></span></li>
            <li>集货交期<span></span></li>
            <li>目的港交期<span></span></li>
            <li><input type="text" placeholder="司机姓名"></li>
            <li><input type="text" placeholder="电话"></li>
            <li><input type="text" placeholder="车牌号"></li>
            <li><input type="radio" value=""> 是否接受排队等待</li>
        </ul>
    </div>
    <div class="select-carLists-query">
        <input type="submit" value="查询">
    </div>
</div>


</body>
</html>