<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>中国外运</title>
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/lib/weui+/style/weui.css">
    <link rel="stylesheet" href="../public/lib/weui+/style/weui2.css">
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body ontouchstart>
    <input type="hidden" id="info" value="11">
    <div class="layout">
        <header class="bgc top-bar">
            <a href="personal-center/personal-center.html" class="headicon"><img src="../public/images/headicon.jpeg" alt=""></a>
            <span class="username">username</span>
            <button>English</button>
        </header>
        <!--上面的菜单-->
        <div class="menu">
            <ul>
                <li><a href="order-management/order-status.html"><span class="icon01"></span><p>订单管理</p></a></li>
                <li><a href="reservation-query/reservation-query.html"><span class="icon02"></span><p>预约查询</p></a></li>
                <li><a href="locale-cars/locale-cars.html"><span class="icon03"></span><p>现场车辆</p></a></li>
            </ul>
        </div>

        <!--轮播图部分-->
        <div class="l-banner">
            <div class="slide" id="slide1">
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <img src="../public/images/banner1.jpg" alt="">
                        </a>
                        <div class="slide-desc">一站式工程物流解决方式</div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../public/images/banner2.jpg" alt="">
                        </a>
                        <div class="slide-desc">333工程物流解决方式</div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../public/images/banner3.jpg" alt="">
                        </a>
                        <div class="slide-desc">22222222方式</div>
                    </li>
                </ul>
                <div class="dot">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!--下面的菜单-->
        <div class="menu mb">
            <ul>
                <li id="resvOnline"><a><span class="icon04"></span><p>在线预约</p></a></li>
                <li><a href="cars-list/cars-list.html"><span class="icon05"></span><p>装车单</p></a></li>
                <li><a href="cars-map/"><span class="icon06"></span><p>车辆地图</p></a></li>
            </ul>
        </div>
        <!--底部-->
        <footer class="footer"></footer>
    </div>
    <script src="../public/lib/weui+/zepto.min.js"></script>
    <script src="../public/lib/weui+/swipe.js"></script>
    <script src="../public/js/swiper.js"></script>
    <script>
        $("#resvOnline").click(function(){
           if($("#info").val()!=''){
               location.href = 'reservation-online/reservation-online.html';
           } else{
               $.confirm("您还未登录，要去登录吗?", "确认登录?", function() {
                   location.href = 'personal-center/login.html';
               }, function() {
                   //取消操作
               });


           }
        });


    </script>
</body>
</html>