
.layout{
    padding: 0.1rem;
}
.appointment-query,.appointment-status,.appointment-info{
    border-radius: 4px;
    margin-top: 0.1rem;
    box-shadow: 0 1px 1px #ccc;
}
body{
    color:#9d9d9d;
}

/*查询*/

.cars-query{
    width: 100%;
    height: 1.5rem;
    background-color: #74baf3;
    padding: 0.45rem 0 0 0.4rem;
}
.cars-query .cars-query-in{
    width: 95%;
    height: 0.6rem;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    padding-left: 0.6rem;

}
.cars-query-in a{
    width: 0.6rem;
    height: 0.6rem;
    background: url("../images/search.png") no-repeat 0.1rem 0.1rem;
    position: absolute;
    left: 0;
    top: 0;
}
.cars-query-in input{
    width: 99%;
    height: 0.6rem;
}

/*状态查询*/

.cars-status {
    width: 100%;
    height: 0.6rem;
    background-color: #fff;
    margin-top: 0;
}
.cars-status ul li{
    width: 25%;
    float: left;
    text-align: center;
    height: 0.6rem;
    line-height: 0.6rem;
    border-right:1px solid #9d9d9d;
}
.cars-status ul li:last-child{
    border-right:none;
}
.cars-status ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.cars-status ul li a:hover{
    color: #74baf3;
}

/*信息*/

.carsList-info ul li{
    width: 100%;
    height: 2rem;
    background-color: #fff;
    margin-top: 0.1rem;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 4px;
    padding-left: 0.2rem;
}
.carsList-info ul li p{
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.2rem;
    padding-right: 0.1rem;
}
.carsList-info .info-l{
    height: 2rem;
    border-right:1px solid #ccc;

}
.carsList-info .info-r{
    margin-left:0.2rem;
}

.plus-appointment {
    width: 2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border: 5px solid #ccc;
    box-sizing: content-box;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    bottom: 0.2rem;
    margin-left: -1rem;
}
.plus-appointment a{
    display: block;
    width: 2rem;
    height: 0.5rem;
    text-align: center;
    border-radius: 15px;
    background-color: #333;
    color: #e5e506;
}