<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>现场车辆</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui2.css">
    <link rel="stylesheet" href="../../public/css/locale-cars.css">
    <script>
        function selectmenu(n){
            var eleMore = document.getElementById("menu_"+n);
            if(eleMore.style.display=="none"){
                eleMore.style.display = 'block';
                $("#cell_"+n).removeClass("icon-74");
                $("#cell_"+n).addClass("icon-35 ");
            }else{
                eleMore.style.display = 'none';
                $("#cell_"+n).removeClass("icon-35");
                $("#cell_"+n).addClass("icon-74");
            }
        }
    </script>

</head>
<body ontouchstart>
    <div class="layout">
        <div class="locale-car-query">
            <a href="javascript:;"></a>
            <input type="text" placeholder="请输入要查询的DN/TPL号" id="inputQuery">
            <span id="queryOrder"></span>
        </div>
        <!--选择查看仓库-->
        <div class="select-warehouse" onclick="selectmenu('1');">
                <i id="replaceInfo">选择要查看的仓库</i>
                <span id="selectInfo"></span>
                <a id="cell_1" class="icon icon-74 f20 f-gray"></a>
        </div>
        <div class="warehouse" id="menu_1" style="display: none;">
                <ul class="clearfix" id="searchHouse">
                    <li>
                        <h3>上海</h3>
                        <a href="javascript:;">外高桥保税仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">外高桥保税仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">外高桥保税仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                    </li>
                    <li>
                        <h3>宁波</h3>
                        <a href="javascript:;">宁波仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                    </li>
                    <li>
                        <h3>深圳</h3>
                        <a href="javascript:;">深圳仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                    </li>
                    <li>
                        <h3>天津</h3>
                        <a href="javascript:;">天津仓库</a>
                    </li>
                    <li>
                        <h3>青岛</h3>
                        <a href="javascript:;">青岛仓库</a>
                    </li>
                    <li>
                        <h3>厦门</h3>
                        <a href="javascript:;">厦门仓库</a>
                    </li>
                </ul>
            </div>


        <!--查询结果-->
        <div id="queryResults">

        </div>

    </div>

    <script src="../../public/lib/weui+/zepto.min.js"></script>
    <script type="text/javascript" src="../../public/js/locale-cars.js"></script>



</body>
</html>