<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>现场车辆</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui2.css">
    <link rel="stylesheet" href="../../public/css/locale-cars.css">
    <script src="../../public/lib/weui+/zepto.min.js"></script>
    <script>
        function selectmenu(n){
            var eleMore = document.getElementById("menu_"+n);
            if(eleMore.style.display=="none"){
                eleMore.style.display = 'block';
                $("#cell_"+n).removeClass("icon-74");
                $("#cell_"+n).addClass("icon-35 ");
            }else{
                eleMore.style.display = 'none';
                $("#cell_"+n).removeClass("icon-35");
                $("#cell_"+n).addClass("icon-74");
            }
        }
    </script>

</head>
<body ontouchstart>
    <div class="layout">
        <div class="locale-car-query">
            <a href="#"></a>
            <input type="text" placeholder="请输入要查询的DN/TPL号" id="inputQuery">
            <span id="queryOrder"></span>
        </div>
        <!--选择查看仓库-->
        <div class="select-warehouse" onclick="selectmenu('1');">
                <i id="replaceInfo">选择要查看的仓库</i>
                <span id="selectInfo"></span>
                <a id="cell_1" class="icon icon-74 f20 f-gray"></a>
            </div>
        <div class="warehouse" id="menu_1" style="display: none;">
                <ul class="clearfix" id="searchHouse">
                    <li>
                        <h3>上海</h3>
                        <a href="javascript:;">外高桥保税仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">外高桥保税仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">外高桥保税仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                    </li>
                    <li>
                        <h3>宁波</h3>
                        <a href="javascript:;">宁波仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                    </li>
                    <li>
                        <h3>深圳</h3>
                        <a href="javascript:;">深圳仓库</a>
                        <a href="javascript:;">洋山仓库</a>
                    </li>
                    <li>
                        <h3>天津</h3>
                        <a href="javascript:;">天津仓库</a>
                    </li>
                    <li>
                        <h3>青岛</h3>
                        <a href="javascript:;">青岛仓库</a>
                    </li>
                    <li>
                        <h3>厦门</h3>
                        <a href="javascript:;">厦门仓库</a>
                    </li>
                </ul>
            </div>


        <!--查询结果-->
        <div id="queryResults">

        </div>

    </div>
    <script>
        $(function(){



            var aObj = $("#searchHouse").find("a");
            aObj.each(function(){
                $(this).on('click',function(){
                    $("#menu_1").hide();
                    $("#replaceInfo").html("当前查看：");
                    $("#selectInfo").html($(this).html()).show();

                });

            });

            $("#queryOrder").click(function(){
                var val =$("#inputQuery").val();
                var sle = $("#selectInfo").html();
                if(val == "" && sle== ""){
                    $.alert("请输入或选择查询条件");
                    return;
                }else{
                    queryCars();
                }


            });

            function queryCars(){
                $.showLoading();
                $.ajax({
                    type : "get",
                    url : "../../json/locale-cars.json?t="+new Date(),
                    dataType : "json",
                    success : function(data){
                        $(data.list).each(function(index,obj){
                            $("#queryResults").empty();
                            var html = $("<div class='query-results'>"+
                            "<h3>查询结果</h3>"+
                            "<ul>"+
                            "<li>预约时段：<span>"+obj.time+"</span></li>"+
                            "<li>实际到达：<span>"+obj.arrive+"</span></li>"+
                            "<li>到达状态：<span class='order-s'>"+obj.status+"</span></li>"+
                            "</ul>"+
                            "</div>"+
                            "<div class='carlist-num'>"+
                                    "<img src='../../public/images/locale.png'>"+
                                    "<p>当前排队数量： <strong>"+obj.num+"</strong>辆车</p>"+
                            "</div>");


                            $("#queryResults").append(html);

                        });
                        $.hideLoading();

                        if($(".order-s").html() == "准时"){
                            $(".order-s").css("background","green");

                        }else if($(".order-s").html() == "延误"){

                            $(".order-s").css("background","red");
                        }

                    },
                    error:function(){
                        $.hideLoading();
                        $.toast("数据加载失败", "cancel");
                    }

                });

            }

        });
    </script>



</body>
</html>