<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>在线预约</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/reservation-online.css">

</head>
<body>
    <div class="layout">
        <div class="appointment-query">
            <div class="appointment-query-in">
                <a></a>
                <input type="text" placeholder="请输入要查询的DN号">
            </div>
        </div>
        <div class="appointment-status">
            <ul>
                <li><a>全部</a></li>
                <li><a>已提交</a></li>
                <li><a>未提交</a></li>
            </ul>
        </div>
        <div class="appointment-info">
            <ul>
                <li>
                    <div class="info-l fl">
                        <p><strong>DN号：DN18153674</strong></p>
                        <p>集货交期：<span>2017-05-15</span></p>
                        <p>仓库：<span>shanghai</span></p>
                    </div>
                    <div class="info-r fl">
                        <p>供应商：<span>EA line</span></p>
                        <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                        <p>状态：<span>open</span></p>
                    </div>

                </li>
                <li>
                    <div class="info-l fl">
                        <p><strong>DN号：DN18153674</strong></p>
                        <p>集货交期：<span>2017-05-15</span></p>
                        <p>仓库：<span>shanghai</span></p>
                    </div>
                    <div class="info-r fl">
                        <p>供应商：<span>EA line</span></p>
                        <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                        <p>状态：<span>open</span></p>
                    </div>

                </li>
                <li>
                    <div class="info-l fl">
                        <p><strong>DN号：DN18153674</strong></p>
                        <p>集货交期：<span>2017-05-15</span></p>
                        <p>仓库：<span>shanghai</span></p>
                    </div>
                    <div class="info-r fl">
                        <p>供应商：<span>EA line</span></p>
                        <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                        <p>状态：<span>open</span></p>
                    </div>

                </li>
                <li>
                    <div class="info-l fl">
                        <p><strong>DN号：DN18153674</strong></p>
                        <p>集货交期：<span>2017-05-15</span></p>
                        <p>仓库：<span>shanghai</span></p>
                    </div>
                    <div class="info-r fl">
                        <p>供应商：<span>EA line</span></p>
                        <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                        <p>状态：<span>open</span></p>
                    </div>

                </li>
                <li>
                    <div class="info-l fl">
                        <p><strong>DN号：DN18153674</strong></p>
                        <p>集货交期：<span>2017-05-15</span></p>
                        <p>仓库：<span>shanghai</span></p>
                    </div>
                    <div class="info-r fl">
                        <p>供应商：<span>EA line</span></p>
                        <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                        <p>状态：<span>open</span></p>
                    </div>

                </li>
                <li>
                    <div class="info-l fl">
                        <p><strong>DN号：DN18153674</strong></p>
                        <p>集货交期：<span>2017-05-15</span></p>
                        <p>仓库：<span>shanghai</span></p>
                    </div>
                    <div class="info-r fl">
                        <p>供应商：<span>EA line</span></p>
                        <p>预约时段：<span>2017-05-15 8:00-9:00</span></p>
                        <p>状态：<span>open</span></p>
                    </div>

                </li>

            </ul>
        </div>
        <div class="plus-appointment">
            <a href="reservation-new.html">
                + 我要预约
            </a>
        </div>

    </div>


</body>
</html>