<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>在线预约</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui2.css">
    <link rel="stylesheet" href="../../public/css/reservation-online.css">


</head>
<body ontouchstart>
    <div class="layout">
        <div class="appointment-query">
            <div class="appointment-query-in">
                <a id="queryOnline"></a>
                <input type="text" placeholder="请输入要查询的DN号" id="queryOnlineNum">
            </div>
        </div>
        <div class="appointment-status weui_tab" style="height:0.6rem;" id="tab3">
            <ul class="weui_navbar" style="height:0.6rem;">
                <li class="weui_navbar_item " id="all">全部</li>
                <li class="weui_navbar_item " id="push">已提交</li>
                <li class="weui_navbar_item " id="noPush">未提交</li>
            </ul>
        </div>
        <div class="appointment-info">
            <ul id="onlineData">
                <!--坑-->
            </ul>

        </div>
        <div class="btn"></div>

        <div class="plus-appointment">
            <a href="reservation-new.html">
                + 我要预约
            </a>
        </div>

    </div>

    <script src="../../public/lib/weui+/zepto.min.js"></script>
    <script src="../../public/lib/weui+/updown.js"></script>
    <script src="../../public/lib/weui+/lazyimg.js"></script>
    <script src="../../public/js/reservation-online.js"></script>



</body>
</html>