<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>新建预约</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/reservation-new.css">
</head>
<body>
    <div class="layout">
        <div class="select-appointment">
            <ul>
                <li>起运港<span></span></li>
                <li>中外运仓库<span></span></li>
                <li>集货交期<span></span></li>
                <li>目的港交期<span></span></li>
                <li>预约日期<span></span></li>
                <li>预约时段<span></span></li>
                <li><input type="text" placeholder="备注"></li>
                <li><input type="radio" value=""> 是否接受排队等待</li>
            </ul>
        </div>
        <div class="select-apm-query">
            <input type="submit" value="查询">
        </div>
    </div>


</body>
</html>