<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/personal-center.css">
</head>
<body>
<div class="layout">
    <!--个人中心-->
    <div class="personal-c">
        <a href="personal-center.html"><img src="images/headicon.jpeg" alt="头像"></a>
        <span class="username">username</span>
    </div>
    <!--列表选项-->
    <div class="personal-lists">
        <ul>
            <li><a href="#">我的预约（<span>2</span>）<i></i></a></li>
            <li><a href="#">我的装车单（<span>26</span>）<i></i></a></li>
            <li><a href="using-help.html">使用帮助<i></i></a></li>
            <li><a href="#">关注中外运<i></i></a></li>

        </ul>

    </div>
    <!--退出按钮-->
    <div class="personal-quit">
        <input type="button" value="退出登录">
    </div>
</div>
</body>
</html>