<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>个人信息详情</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/personal-center-info.css">
    <link rel="stylesheet" href="../../public/lib/font-awesome/css/font-awesome.min.css">


</head>
<body>
    <div class="layout">
        <div class="personal-info">
            <ul>
                <li>
                    <span>头像</span>
                    <img src="../../public/images/headicon.jpeg" alt="">
                </li>
                <li><span>登录名</span><p>张梦雅</p></li>
                <li><span>用户类型</span><p>v</p></li>
                <li><span>手机号</span><p>18210120268</p></li>
            </ul>
        </div>
    </div>


</body>
</html>