<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>订单详情</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui2.css">
    <link rel="stylesheet" href="../../public/css/order-details.css">

</head>
<body>
    <div class="layout">
        <div class="order-query">
            <a href="#"></a>
            <input type="text" placeholder="请输入要查询的订单">
            <span id="orderQuery"></span>
        </div>

        <div class="order-status">
            <ul>
                <li><a href="#">预约</a></li>
                <li><a href="#">送货</a></li>
                <li><a href="#">到仓</a></li>
                <li><a href="#">收货</a></li>
                <li><a href="#">订舱</a></li>
                <li><a href="#">装箱</a></li>
                <li><a href="#">发运</a></li>
            </ul>
        </div>
        <div class="order-status-info">
            <ul id="orderDetailsShow">
                <!--挖个坑-->
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="../../public/lib/weui+/zepto.min.js"></script>
    <script type="text/javascript" src="../../public/lib/weui+/picker.js"></script>
    <script src="../../public/js/order-details.js"></script>


</body>
</html>