<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>订单状态</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui.css">
    <link rel="stylesheet" href="../../public/lib/weui+/style/weui2.css">
    <link rel="stylesheet" href="../../public/css/order-status.css">
    <link rel="stylesheet" href="../../public/lib/font-awesome/css/font-awesome.min.css">
    <script src="../../public/lib/RGraph/libraries/RGraph.svg.common.core.js"></script>
    <script src="../../public/lib/RGraph/libraries/RGraph.svg.hbar.js"></script>
    <script src="../../public/lib/RGraph/libraries/RGraph.svg.pie.js"></script>
</head>
<body ontouchstart>
<div class="layout">
    <div class="order-date clearfix">
        <div class="input-group">
            <span class="first-date">集货交期：</span><input class="date-seleted" type="text" placeholder="起始日期" id="dateStart" value="2017-05-14">
        </div>
        <div class="input-group">
            <span class="last-date">终止日期：</span><input class="date-seleted" type="text" placeholder="终止日期" id="dateEnd" value="2017-06-14">
        </div>
        <button type="button" class="btn btn-clear" id="clearDate">
            <i class="fa fa-trash-o"></i>
            清空
        </button>
        <button type="button" class="btn btn-search" id="showLoading">
            <i class="fa fa-search"></i>
            搜索
        </button>


    </div>

    <!--数据表-->
    <div class="data-sheet">
        <ul id="orderListInfo">
            <!--模板数据填充-->
        </ul>
        <div class="order-query">
            <a href="order-details.html">查看订单详情</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../public/lib/weui+/zepto.min.js"></script>
<script type="text/javascript" src="../../public/lib/weui+/picker.js"></script>
<script type="text/javascript" src="../../public/js/order-status.js"></script>
<script type="text/javascript" src="../../public/js/datePicker.js"></script>




</body>
</html>